<mt:setvarblock name="related_content" append="1">
    <mtapp:widget
        id="useful-links"
        label="<__trans phrase="Useful links">">
        <ul>
            <li><a href="<mt:var name="script_url">?__mode=list_cat_tree&amp;_type=<mt:var name="object_type" escape="url">&amp;blog_id=<mt:var name="blog_id" escape="url">"><__trans_section component="sortable_categories"><__trans phrase="Manage Category Tree"></__trans_section></a></li>
        </ul>
    </mtapp:widget>
</mt:setvarblock>
